body {
    text-align: center;
}

#Apps {
    background: linear-gradient(#ff8080 0%, #004080 100%);
}

h1 {
    font-size: 50px;
    font-family: 'BenchNine', sans-serif;
}

img {
    height: 300px;
    width: 300px;
}

#chatbot {
    height: 800px;
    width: 100%;
    background: linear-gradient(#80ffd4 0%, #4ce600 100%);
}

#games {
    height: 800px;
    width: 100%;
    background: linear-gradient(#eeccff 0%, #ff6666 100%);
}
